@import url('https://googleapis.com');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #104E8B;
  color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}
