@import url('https://googleapis.com');

html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #104E8B;
  color: #FFFFFF;
}

body {
  background-image: url('/ocean-background-2.png') !important;
  background-size: cover !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  margin: 0;
}
