html,
body {
  background-image: url(<img src="https://media.discordapp.net/attachments/1434654771381276692/1467241895863521527/903e1b65-90ce-4e88-93e2-236c90392500.png?ex=69b46700&amp;is=69b31580&amp;hm=6afceb054806bb118ee34670de5a29e182c293a2f326d93e11fd8f63c8072bb3&amp;=&amp;format=webp&amp;quality=lossless&amp;width=822&amp;height=462" alt="Image"/>)
  background-color: 
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
